@model KidShopOnline.Models.UserProfile
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">


            <div class="col-md-6">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2 style="margin-left:15px">Bilgilerinizi güncelleyebilirsiniz.</h2>
                    @using (Html.BeginForm("UserProfile", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model =>model.id)
                <form class="form-horizontal" action="#">

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.id)
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Adınız", @class = "form-control", @style = "max-width:150%" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { placeholder = "Soyadınız", @class = "form-control", @style = "max-width:150%" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { placeholder = "Kullanıcı Adınız", @class = "form-control", @style = "max-width:150%" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Mail Adresiniz", @class = "form-control", @style = "max-width:150%" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        <br />
                    </div>
                   
                    <button style="margin-left:15px" type="submit" class="btn btn-default">Profilimi Güncelle</button>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="signup-form ">
                               <br />
                                <a style="margin-left:15px" href="/Account/ChangePassword">Şifremi Değiştir</a>
                            </div>
                        </div>
                    </div>
                    
                </form>

                    }

                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section>

